.expand {
  margin-bottom: 8px;
}
.card {
  background-color: rgb(65, 65, 65);
  color: white;
  padding: 24px;
  font-size: 1.5rem;
  border-radius: 0;
}
.card:hover {
  background-color: rgb(103, 103, 103);
}
.additionalInfo {
  background-color: rgb(103, 103, 103);
  color: white;
  padding: 24px;
  font-size: 1.5rem;
}
